name: "Deploy Sanity"

on:
  push:
    branches:
      - main

defaults:
 run:
  working-directory: ./app

jobs:
  deploy-sanity:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - run: npm install
      - run: npx sanity@latest deploy
